

//! === === BUTTON DEFAULT === ===
.disabledShadowTest {
    padding:8px 16px;
    background: #3D5AFE;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 20,27px;
    border: 1px solid #3D5AFE;
    cursor:pointer;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    &:hover {
        background: #0039CB;
        color: #FFFFFF;
        border: 1px solid #0039CB;
    }
    &:focus {
        background: #AEAEAE;
        color: #3F3F3F;
        border: 1px solid #AEAEAE;
        outline: 0
    }
}