

//! === === BUTTON DEFAULT === ===
.buttonDanger {
    padding:8px 16px;
    background: #D32F2F;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 20,27px;
    border: 1px solid #D32F2F;
    cursor:pointer;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0px 2px 3px rgba(211, 47, 47, 0.2);
    &:hover {
        background: #9A0007;
        color: #FFFFFF;
        border: 1px solid #9A0007;
    }
    &:focus {
        background: #9A0007;
        color: #FFFFFF;
        border: 1px solid #9A0007;
        outline: 0
    }
}